<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">

<head>
    <title>Open Order</title>
</head>

<body>

<header layout:fragment="header">
    <p>
        <a th:href="@{/orders}">Back to list</a>
    </p>
    <h1>Open Order</h1>
</header>

<section layout:fragment="main">

    <div class="mb-4">
        <a th:href="@{/profile}" th:text="'Logged in as: ' + ${me.emailAddress()} + ' (' + ${me.type()} + ')'"></a>
    </div>

    <form th:action="@{/orders/new}" method="post" th:object="${form}">

        <div class="mb-3">
            <label for="waiterId" class="form-label">Waiter ID</label>
            <input type="text" id="waiterId" name="waiterId" th:field="*{waiterId}" class="form-control" placeholder="" required />
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('waiterId')}" th:errors="*{waiterId}"></div>
        </div>

        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" id="subject" name="subject" th:field="*{subject}" class="form-control" placeholder="" required />
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></div>
        </div>

        <div class="mb-3">
            <label for="customerContent" class="form-label">Customer's Content</label>
            <textarea id="customerContent" name="customerContent" th:field="*{customerContent}" class="form-control" placeholder="" required></textarea>
            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('customerContent')}" th:errors="*{customerContent}"></div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Open Order</button>
        </div>
    </form>

</section>

</body>
</html>