<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">

<head>
    <title>Orders</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Orders</h1>
</header>

<section layout:fragment="main">

    <div class="mb-4">
        <a th:href="@{/profile}" th:text="'Logged in as: ' + ${me.emailAddress()} + ' (' + ${me.type()} + ')'"></a>
    </div>

    <table class="table mb-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Customer</th>
            <th>Waiter</th>
            <th>Queued</th>
            <th>Started</th>
            <th>Completed</th>
            <!--
            <th>Actions</th>
            -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${orders}">
            <td>
                <a th:href="@{|/orders/${t.id()}|}" th:text="${t.id()}"></a>
            </td>
            <td th:text="${t.status()}"></td>
            <td th:text="${t.customer().fullName()}"></td>
            <td th:text="${t.waiter().fullName()}"></td>
            <td th:text="${t.queuedAt()}"></td>
            <td th:text="${t.inProgressAt()}"></td>
            <td th:text="${t.completedAt()}"></td>
            <!--
            <td>
                <a th:href="@{|/orders/${t.id()}|}">View</a>
            </td>
            -->
        </tr>
        </tbody>
    </table>

    <div th:if="${me.type().name() == 'CUSTOMER'}">
        <a th:href="@{/orders/new}">Open new order</a>
    </div>

</section>

</body>
</html>